<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartita viejita</title>
    <link rel="stylesheet" href="/static/css/styles_carta.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>Carta Vintage</h1>
        <p>Mi dulce Floresita,</p>
        <p>En este día, lamento no poder entregarte personalmente las flores que había preparado con tanto cariño. Sin embargo, permíteme transformar esta pequeña decepción en una oportunidad para expresarte mis más profundos sentimientos de una manera distinta, pero igualmente apasionada.</p>
        <p>Cada pétalo de estas palabras lleva consigo el aroma de mi devoción, la misma que te he entregado desde el momento en que cruzaste mi camino. Así como una flor combina la fortaleza de su tallo con la delicadeza de sus pétalos, tú, mi querida Floresita, eres un reflejo de esa perfecta armonía entre firmeza y delicadeza.</p>
        <p>Aunque no pueda entregarte flores reales en este momento, quiero que sepas que este gesto no solo se trata de tu belleza, sino también de tu fortaleza y tu firmeza, cualidades que admiro profundamente en ti. Eres como una flor que florece incluso en los terrenos más difíciles, irradiando luz y belleza a tu alrededor.</p>
        <p>Así que acepta esta carta como una ofrenda de mi amor, una promesa de que siempre estaré aquí para ti, admirando no solo tu belleza exterior, sino también la fuerza y la pasión que laten en tu interior. Eres mi Floresita, mi flor más preciada, y aunque las flores puedan marchitarse, nuestro amor florece eternamente, resistiendo el paso del tiempo y las adversidades.</p>
            <div class="signature">
            <p>Diego Eduardo Perez Luna</p>
        </div>
        <div class="date">
            <p>21/03/24
            <p>
        </div>
    </div>
</body>

</html>